.menu-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 0 auto;

  @media (max-width: 1800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1380px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 785px) {
    max-width: 350px;
    grid-template-columns: 1fr;
  }
}
