.h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
  font-style: normal;
  color: var(--text-color);

  margin: 0;

  @media (max-width: 785px) {
    font-size: 32px;
  }

  @media (max-width: 575px) {
    font-size: 28px;
  }
}
