:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #e15f3c;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
  --gray-color: #9796a1;
}

body {
  margin: 0;

  font-family: "Open Sans", sans-serif;
}
